<!DOCTYPE html>
<html>  
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a href="#" class="navbar-brand">LangLearn</a>
                </div>
                <!-- End navbar brand -->
                <div class="collapse navbar-collapse" id="something-to-make-this-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                </div>
            </div> 
            <!-- End navbar list items -->    
        </nav> <!-- End navbar -->
        <div class="header-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="welcome-message">
                            <div class="about">   
                            <h1>Landing Page</h1>
                            <h4>LangLearn is a site where you can learn a language and other cool stuff </h4>
                            </div>
                                <form class="login">
                                    <div class="form-group">
                                        <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Pick a username">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Your email address">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Create a password">
                                    </div>
                                    <button type="submit" class="btn btn-success btn-lg">Sign up</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End about and signup -->


        <div class="nextSection">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h3>This is another content section</h3>
                        <p>Ut hendrerit ut dolor a varius. Aenean non enim eget augue sodales congue. Quisque faucibus turpis nulla, eget ornare neque dignissim eget. Etiam at ligula in leo mattis iaculis sed et tellus. Donec sed eleifend felis, elementum
                            accumsan tortor. Phasellus auctor tortor vel ante interdum, condimentum pellentesque neque aliquet. Vestibulum eget facilisis est. Proin venenatis neque sed mollis pretium. Curabitur metus risus, pretium non fringilla a, placerat
                            et ante. Suspendisse vitae quam at massa molestie varius.... also here is the Duolingo owl</p>
                    </div>
                    <div class="col-md-5 col-md-offset-2">
                        <img class="img-responsive" src="img/duolingo-owl.png">
                    </div>
                </div>
            </div>
        </div> <!-- End about and signup -->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Office</h4>
                        <p>
                            Some Address 987,<br/>
                            +123-456-7890, <br/>
                            Wayne, NJ.
                        </p>
                    </div><!-- /<col-md></col-md>-4 -->
                    
                    <div class="col-lg-4">
                        <h4>My Links</h4>
                        <p>
                            <a href="#">Link1</a><br/>
                            <a href="#">Link2</a><br/>
                            <a href="#">Link3</a>
                        </p>
                    </div><!-- /col-lg-4 -->
                    
                    <div class="col-lg-4">
                        <h4>About LangLearn</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget ultricies libero, dictum at leo. Donec at tortor quis ante suscipit feugiat. Praesent semper porttitor purus, nec gravida lorem porta a.</p>
                    </div><!-- /col-lg-4 -->
                </div>
            </div>
        </footer>


                    





















{{!--






                    <div class="welcome-message col-md-4">
                        <h2>LangLearn</h2>
                        <h4>aelirjhgakeljrghaerjilkgh aerljkg aerljghaerlgrgerg</h4>
                        <h4>earlgkjnaelrgna,mgnaem,rgnaem,rg,</h4>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <form class="login">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" id="exampleInputFile">
                                <p class="help-block">Example block-level help text here.</p>
                            </div>
                            <div class="checkbox">
                                <label>
                                <input type="checkbox"> Check me out
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
           --}}





        


        <script href="bootstrap/dist/js/bootstrap.min.js">
    </body>
</html>